{% extends "base.html" %}
{% load tickettags %}

{% block contents %}
<div class="span3">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="nav-header">Menu</li>
			<li id="sidebarnewticket"><a href="newTicket">New Ticket</a></li>
			<li id="sidebarfindticket"><a href="findTicket">Find Ticket</a></li>
			<li id="sidebartickettree"><a href="ticketTree">Ticket Tree</a></li>
			<li id="sidebarviewhistory"><a href="viewHistory">View History</a></li>
			<li class="nav-header">Last Viewed Tickets</li>
			{% for ticket in lastViewedTickets %}
				<li class="sidebarticket dragChild" data-ticket="{{ticket.id}}" draggable="true">
					{{ticket|ticketAnchor_titleState}}
				</li>
			{% endfor %}
		</ul>
	</div><!--/.well -->
</div><!--/span-->

<div class="span9">
{% block nonsidecontents %}{% endblock %}
</div><!--/span-->

<script>
$("#navTicket").addClass( "active" );
</script>
{% endblock %}
